:root {
    --primary-dark: #50614A;
    --primary-light: #C4E641;
    --neutral: #E6E9D8;
    --hover: #668000;
    --white: #FFFFFF;

    --radius-verylarge: 100px;
    --radius-large: 64px;
    --radius-medium: 32px;
    --radius-small:16px;

    --title-large: 72px;
    --title-medium: 32px;

    --copy-large: 24px;
    --copy-medium: 18px;
    --copy-small: 16px;

    --title-font: "Italiana", sans-serif;
    --transition: all 0.3s ease-in-out;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--copy-small);
    color: var(--primary-dark);
}

body{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

.navbar {
    width: 100%;
    padding: 24px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: fixed;
}

.logo{
    height: 42px;
    width: auto;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 58px;
}

.nav-link{
    text-decoration: none;
}

.nav-link:hover{
    color: var(--hover);
    transition: var(--transition);
}

.bold{
    font-weight: 700;
}

.button{
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.primary{
    background-color: var(--primary-light);
    border-radius: var(--radius-verylarge);
}

.primary:hover{
    background-color: var(--hover);
    color: var(--neutral);
    transition: var(--transition);
}

.title-section{
    padding-top: 143px;
    padding-left: 64px;
}

.title-large{
    font-family: var(--title-font);
    font-size: var(--title-large);
}



